h1{
    text-align:center;
}

fieldset {
    border: 2px solid #3498db; 
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    background-color: #f5f5f5; 
  }
  
  legend {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
    color: #030d14; 
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(14, 11, 11); 
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="date"]:focus {
    outline: none;
    border-color: #3498db; 
    box-shadow: 0 0 5px #3498db; 
  }
  
  input[type="text"]::placeholder,
  input[type="number"]::placeholder {
    color: rgb(15, 14, 14); 
  }
  
  .informacion {
    background-color: orangered;
  }

  .Nacionalidad{
    background-color: green;
  }
  .Estudios{
    background-color: pink;
  }
  
  .Idiomas{
    background-color: aquamarine;
  }

  .botones{
    background-color: grey;
  }